<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>
  <td>Edad:</td>
  <dd>{{ age }}</dd>
  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>
  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>

</dl>


<button class="btn btn-primary mx-2" (click)="changeHero()">
  Cambiar Nombre
</button>
<button class="btn btn-primary" (click)="changeAge()">
  Cambiar Edad
</button>
<button class="btn btn-primary mx-2" (click)="changeAtribute()">
  Goshi está bien {{ atribute }}
</button>

<button class="btn btn-primary mx-2" *ngIf="showButton" (click) = "hideButton()">
  {{ owo }}
</button>

<button class="btn btn-primary mx-2" *ngIf="!showButton" (click) = "showButtonAgain()">
  Regresame unu
</button>
